body {
    font-family: Myriad;
    background-color: #F7F7F7;
}

div#topbarDivSeparator{height: 45px;}

.portfolioFilter a {font-size: 80% !important;}

#textOrbitBannerDiv div.orbit-container {background-color: #a83192 !important; min-height: 200px !important;}

.purpleFont {color: #a83192 !important;}

.OrbitTextBanner, .OrbitTextBanner ul, .OrbitTextBanner ul li, .OrbitTextBanner h2,
.OrbitTextBanner h3,.OrbitTextBanner h1,.OrbitTextBanner p
{color:#edd7e9 !important;}

.OrbitTextBanner h2 {font-size: 120% !important;font-weight: bold !important;}
.OrbitTextBanner h3 {font-size: 80% !important;}
.OrbitTextBanner p  {font-size: 80% !important;font-weight: 200 !important;}
.OrbitTextBanner ul{font-size: 80% !important;font-weight: 200 !important;}

div.photoBannerContainerDiv{padding-left: 8px !important;padding-right: 8px !important;}

.orbit-progress {display: none !important;}

.orbit-bullets {margin-bottom: 5px !important;}

.topbar {overflow: visible !important;}

.OrbitTextBannerli div {padding-left: 20%;padding-right: 20%;}

div#ModalsHolderDiv-Content{
    margin-top: 10px;
}

div#contentDivContainer{

}
#schoolsLink {}

.f-dropdown.open {overflow: visible !important;z-index: 999 !important;}

ul#drop1.f-dropdown.open{overflow: visible !important;z-index: 1000!important;}

#logo { width: 100%; overflow: hidden;padding:0;margin:0; }
.issuuContentContainer{
    max-width: 100% !important;
    margin-left: auto !important;
    margin-right: auto !important;
    position: relative !important;
    list-style: none outside none !important;
    padding: 0px 0px 50px !important;
}

.itemWrapper-fixedWidth{
    display:inline-block;
}
.vAlignMiddle{
    vertical-align: middle !important;
}

.contentDivContainerIsotope {
    margin: 0 auto !important; /* Centers the div */
    overflow: hidden !important;
    width: auto !important;
}

.spaceFiller{
    padding-right: 10px;
    paddint-left:0px;
    width: 100%;
    line-height: 45px;
}
.hugeTitleText, .hugeTitleText p {
    font-size: 200%;
    line-height: 100%;
}

.bigTitleText, .bigTitleText p {
    font-size: 110%;
    line-height: 120%;
    font-weight: 200;
}

.lineHeight45{
    line-height: 45px;
}
.lineHeight16{
    line-height: 16px;
}
.discreetLinks{
    color: #7f7e7e;
    font-size: 80%;
}

.discreetTextColor{
    color: #7f7e7e;
}

input#articleShareURLinput[type="text"] {color: #7f7e7e !important;font-size:11px !important;}
input#articleShareURLinput[type="text"]:focus {
    -webkit-appearance: none !important;
    background-color: white !important;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    color: rgba(0, 0, 0, 0.75);
    display: block;
    width: 100%;
    box-sizing: border-box;
    -webkit-transition: -webkit-box-shadow 0.45s, border-color 0.45s ease-in-out;
    -moz-transition: -moz-box-shadow 0.45s, border-color 0.45s ease-in-out;
    transition: box-shadow 0.45s, border-color 0.45s ease-in-out; }

.fancyTextColor{
    color: #c01ea1;
}
.content-card-spanExcerpt, .content-card-spanExcerpt p {
    color: #585757;
    font-size: 80%;
    line-height: 130%;
    padding-top:2px;
    overflow: hidden;
}

.content-card-spanAuthor {
    color: #4a4949;
    font-size: 70%;
}
.fancyTag{
    font-size: 60%;
    padding:5px;
    background-color: #c01ea1;
    color: #ffffff;
    text-transform: uppercase;
}

.fancyTagDiv{
    font-size: 60%;
    padding:5px;
    background-color: #c01ea1;
    color: #ffffff;
    text-transform: uppercase;
    display: inline-block;
}

.boldieText{
    font-weight:bold;
}
.fancyTagBig{
    font-size: 80%;
    font-weight: bold;
    line-height: 200%;
    padding:5px;
    background-color: #c01ea1;
    color: #ffffff;
    text-transform: uppercase;
    margin:0;
}

.fancyViewModalInline{
    padding-right: 0;
    margin-right: 0;
    height:30px !important;
}

.articleText
{
    font-size: 14px !important; /*(used to be 90% and line height 130%)*/
    line-height:19px !important;
}

.articleTextAbout, .articleTextAbout p, .articleTextAbout ul, .articleTextAbout ol {
    font-size: 14px !important; /*(used to be 90% and line height 130%)*/
    line-height:21px !important;
}

.articleTextBio, .articleTextBio p, .articleTextBio ul, .articleTextBio ol {
    font-size: 13px !important; /*(used to be 90% and line height 130%)*/
    line-height:21px !important;
}

.content-card-line {width:100%; float:left;padding-top:5px;padding-bottom:5px;margin: 0px;line-height: 1px !important;font-size: 1px;height:auto;}
.content-card-line hr {width:100%;padding: 0px;margin: 0px;line-height: 1px !important;}

.content-card-options a {float: left;font-size: 70%;}
a.content-card-options-right {float: right; font-size: 70%;}

h1#myHeading{
    color: white;
    text-align: center;
    margin: 0px;
    padding: 20px;
    background: #0081E7;
    margin-bottom: 13px;

}




.portfolioFilter {
    text-align: center;
    /*margin-bottom: 10px;*/
}

.portfolioFilter a {
    margin-right: 10px;
    color:#666;
    text-decoration:none;
}

.portfolioFilter a.current {
    padding:5px;
    background-color: #c01ea1;
    color: #ffffff;
}


.portfolioContainer img {
    width: 200px !important;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

div.portfolioContainer.isotope {
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    width:100%;
    float:left;
}

div#panel1a.content.active {
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    width:100%;
    float:left;
}

div#contentPanel.content.active {
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    width:100%;
    float:left;
}

.isotope-item {
    z-index: 2;
    /*    border:1px solid #d4d4d4;
        margin: 10px;
        -moz-box-shadow:    10px 10px 10px #dddddd;
        -webkit-box-shadow: 10px 10px 10px #dddddd;
        box-shadow:         10px 10px 10px #dddddd;*/
}
.isotope-hidden.isotope-item {
    pointer-events: none;
    z-index: 1;
}

.isotope,
.isotope .isotope-item {
    /* change duration value to whatever you like */
    -webkit-transition-duration: 0.8s;
    -moz-transition-duration: 0.8s;
    -ms-transition-duration: 0.8s;
    -o-transition-duration: 0.8s;
    transition-duration: 0.8s;
}

.isotope {
    -webkit-transition-property: height, width;
    -moz-transition-property: height, width;
    -ms-transition-property: height, width;
    -o-transition-property: height, width;
    transition-property: height, width;
}

.isotope .isotope-item {
    -webkit-transition-property: -webkit-transform, opacity;
    -moz-transition-property:    -moz-transform, opacity;
    -ms-transition-property:     -ms-transform, opacity;
    -o-transition-property:      -o-transform, opacity;
    transition-property:         transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/

.isotope.no-transition,
.isotope.no-transition .isotope-item,
.isotope .isotope-item.no-transition {
    -webkit-transition-duration: 0s;
    -moz-transition-duration: 0s;
    -ms-transition-duration: 0s;
    -o-transition-duration: 0s;
    transition-duration: 0s;
}

@media only screen and (max-width: 40em) {
    div#topbarDivSeparator{height: 90px;}
    div#ModalsHolderDiv-Content{
        /*margin-top:60px;*/
    }
    #logoMainDivHolder {
        padding-left: 20%;
        padding-right:20%;
    }
}
/*
@media only screen and (min-width: 40.063em) {
    div#ModalsHolderDiv-Content{
        margin-top: 10px;
    }
}*/
